<!-- <style>
        .latest-customers-component {
          border: 1px solid #80808080;
        }
  
        .latest-customers-component-header-section {
          padding: 10px;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #80808080;
        }
  
        .latest-customers-component-header-section h6 {
          font-size: 16px;
        }
  
        .latest-customers-component-header-section p {
          font-size: 12px;
          font-weight: 500;
          position: relative;
          top: 5px;
        }
      </style>
      <style>
        .home-first-section-component {
          padding: 10px;
          margin-bottom: 10px;
          height: calc(40vh+ 60px);
          border: 1px solid #80808080;
        }
  
        .webcam-video-component {
          width: 100%;
          height: 100%;
        }
      </style>
      <style>
        .home-second-section-component {
          padding: 10px;
          height: 30vh;
          border: 1px solid #80808080;
          overflow: auto;
        }
      </style>
      <style>
        .latest-alerts-component {
          margin-bottom: 10px;
          border: 1px solid #80808080;
        }
  
        .latest-alerts-component-header-section {
          padding: 10px;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #80808080;
        }
  
        .latest-alerts-component-header-section h6 {
          font-size: 16px;
        }
  
        .latest-alerts-component-header-section p {
          font-size: 12px;
          font-weight: 500;
          position: relative;
          top: 5px;
        }
      </style>
      <style>
        .archives-component {
          margin-bottom: 10px;
          border: 1px solid #80808080;
        }
  
        .archives-component-header-section {
          padding: 10px;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #80808080;
        }
  
        .archives-component-header-section h6 {
          font-size: 16px;
        }
  
        .archives-component-header-section p {
          font-size: 12px;
          font-weight: 500;
          position: relative;
          top: 5px;
        }
      </style>
      <style>
        .homepage-home-section {
          padding: 10px;
        }
      </style>
      <style>
        .new-product-section {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .new-product-body {
          margin: 2%;
          padding: 1%;
          border: 1px solid black;
          width: 80%;
        }
  
        .new-product-form {
          height: 320px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
  
        form div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
      <style>
        .product-training-page-body {
          margin: 5% 10%;
          padding: 2%;
          border: 1px solid black;
        }
  
        .step-indicator-container {
          margin: 10px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .step-container {
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-radius: 80%;
        }
      </style>
      <style>
        .products-training-second-step-component {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .products-training-second-step-section {
          margin: 2%;
          padding: 1%;
          border: 1px solid black;
          width: 80%;
        }
  
        .take-pictures-btn-section {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
  
        .webcam-section {
          height: 300px;
        }
  
        .picture-section {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
        }
      </style>
      <style>
        .products-training-third-step-component {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .products-training-third-step-section {
          margin: 2%;
          padding: 1%;
          border: 1px solid black;
          width: 80%;
        }
  
        .webcam-img {
          margin: 10px;
          height: 100px;
          width: 150p;
        }
      </style>
      <style>
        .site-header {
          padding: 1%;
          border-bottom: 1px solid #80808080;
        }
  
        .site-logo {
          padding-left: 5%;
        }
  
        .header-links-section {
          display: flex;
          justify-content: flex-end;
        }
  
        .header-search-section {
          display: flex;
          justify-content: flex-end;
        }
  
        .header-search-section ul {
          border: 1px solid grey;
          padding: 0px 10px;
        }
  
        .header-search-section input {
          max-width: 180px;
        }
      </style>
      <style>
        .navigation-menu-component {
          padding: 10px;
          border-bottom: 1px solid #80808080;
        }
  
        .navigation-menu-left-section {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
  
        .navigation-menu-left-section p {
          /* padding: 0px 5%; */
          padding: 0px 30px;
        }
  
        .navigation-menu-right-section {
          display: flex;
          justify-content: center;
        }
      </style> -->
